p{
    color:red;
    font-size: 12px;
    font-family: Verdana;
}

body{
    background-color: rgb(214, 209, 202);
}

.menu{
    font-size: 14px;
    font-weight: bold;
    color:green;
    font-family: verdana;
}

.lista{
    font-size: 12px;
    font-weight: bold;
    color:blueviolet;
    font-family: verdana;
}

.titulo{
    font-size: 12px;
    font-weight: bold;
    color:black;
    font-family: verdana;

}

label{
    font-size: 12px;
    font-weight: bold;
    color:green;
    font-family: verdana;
}

.campo_nome{
width: 230px ;
background-color: indigo;
color: greenyellow;
font-family: verdana;
font-size: 12px;
}

.campo_email{
    width: 270px ;
    background-color: indigo;
    color: greenyellow;
    font-family: verdana;
    font-size: 12px;
}

.campo_senha{
    width: 100px ;
    background-color: indigo;
    color: greenyellow;
    font-family: verdana;
    font-size: 12px;
}

.campo_msg{
    width: 290px ;
    background-color: indigo;
    color: greenyellow;
    font-family: verdana;
    font-size: 12px;

}

#formuser{
    background-color: khaki;
}

.campos_internos{
    font-size: 12px;
    font-weight: bold;
    color:green;
    font-family: verdana;
}

legend{
    font-size: 12px;
    font-weight: bold;
    color: blueviolet;
    font-family: verdana;

}
